@import './fonts.css';

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    user-select: none;
  }

  :focus-visible {
    outline: 2px solid theme('colors.grape');
    outline-offset: 2px;
  }
}
